.event {
  position: absolute;
  width: 80%;
  background-color: #6495ed;
  z-index: 1;
  border-radius: 8px;
  padding: 8px;
  color: #fff;

  &__title {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 8px;
  }

  &:hover {
    font-weight: bold;
    background-color: #ff0000;
  }
}

.delete-event-btn {
  cursor: pointer;
  border: none;
  position: absolute;
  background: #fff;
  top: -50px;
  padding: 16px;
  border-radius: 8px;
  box-shadow: -1px 4px 12px 0px #223c5033;

  &__title {
    color: #000;
  }
}

.fa-trash {
  color: #ccc;
  margin-right: 20px;
}
